$gray-700: #222e34;
$gray-600: #4e5c63;
$gray-500: #506473;
$gray-400: #738189;
$gray-300: #a9b7c0;
$gray-200: #e2e2e2;
$gray-100: #f1f1f1;

$blue: #056c9c;
$blue-hover: #3584b6;

$beige: #c1b985;
$beige-hover: #ded59f;

$light: #f9f9f9;